.btn-addBebida{
  width: 56px;
    margin-left: 15px;
    height: 33px;
    text-align: center;
    background: border-box;
    margin-top: 20px;
}
#add+{
display: block;
}
.selects{
  width: 135px;
    height: 26px;
    border-radius: 4px;
    margin-left: 10px;
    margin-bottom: 30px;
}
.nome-sub-classes{
  margin-left: 25px;
  font-weight: 100;
}
.classe-pedido-bebida {
  font-weight: 100;
}
.classe-cliente{
  font-weight: 100;
}
.nome-sub-classe-bebida{
  font-weight: 100;
}
