<div class="div-principal">
  <ng-container>
    <h2 class="bem-vindo">Bem vindo ao nosso painel de Bebidas</h2>
    <div class="painel-funcionario">
      <a href="cadastrarBebidas/"
        ><button class="btns">Cadastrar Bebida</button></a
      >
      <a href="buscarTodasBebidas/"
        ><button class="btns">Exibir Todas Bebidas</button></a
      >
      <a href="buscarBebida/"
        ><button class="btns">Buscar Bebida Id</button></a
      >
      <a href="buscarBebidaNome/"
        ><button class="btns">Buscar Bebida Nome</button></a
      >
      <a href="/telaPrincipalFuncionario/"
        ><button class="btns">Tela Funcionário</button></a
      >
      <a href="telaPrincipal" target="_blank"
        ><button class="btns">Início</button></a
      >
    </div>
  </ng-container>
</div>
