<div class="div-curta">
  <div [formGroup]="formulario">
    <div>
      <input
        class="input-busca"
        type="text"
        formControlName="id"
        placeholder="  buscar cliente id..."
      />
      <button
        class="btns"
        (click)="buscarClienteId()"
        style="margin-left: 10px"
      >
        Buscar cliente Id
      </button>
    </div>

    <div
      [class]="classAlerta.resultado"
      *ngIf="exibirMensagemNaoEncontrado && !clienteFoiEncontrado()"
    >
      <p id="frase-nao-localizado">Cliente Não localizado</p>
      <button
        class="btn-ok-funcionario-nao-encontrado"
        (click)="encerrarAposNadaEncontrado()"
      >
        Ok
      </button>
    </div>
    <div *ngIf="clienteFoiEncontrado()" class="busca-com-sucesso">
      <table class="table table-bordered">
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>Chave</th>
          <th>Sobrenome</th>
          <th>Email</th>
          <th>Telefone</th>
          <th>Cpf</th>
          <th>Data Nascimento</th>
        </tr>
        <tr>
          <td>{{ clienteEncontrado?.id }}</td>
          <td>{{ clienteEncontrado?.nome }}</td>
          <td>{{ clienteEncontrado?.chaveAcesso }}</td>
          <td>{{ clienteEncontrado?.sobrenome }}</td>
          <td>{{ clienteEncontrado?.email }}</td>
          <td>{{ clienteEncontrado?.telefone }}</td>
          <td>{{ clienteEncontrado?.cpf }}</td>
          <td>{{ clienteEncontrado?.dataNascimento }}</td>
        </tr>
        <tr>
          <th>UF</th>
          <th>Cep</th>
          <th>Cidade</th>
          <th>Bairro</th>
          <th>Rua</th>
          <th>Número</th>
          <th>Complemento</th>
          <th></th>
        </tr>
        <tr>
          <td>{{ clienteEncontrado?.enderecoModel?.uf }}</td>
          <td>{{ clienteEncontrado?.enderecoModel?.cep }}</td>
          <td>{{ clienteEncontrado?.enderecoModel?.cidade }}</td>
          <td>{{ clienteEncontrado?.enderecoModel?.bairro }}</td>
          <td>{{ clienteEncontrado?.enderecoModel?.rua }}</td>
          <td>{{ clienteEncontrado?.enderecoModel?.numero }}</td>
          <td>{{ clienteEncontrado?.enderecoModel?.complemento }}</td>
          <td></td>
        </tr>
        <tr>
          <td>
            <a [routerLink]="'/editarCliente/' + clienteEncontrado?.id"
              ><button class="btns-e">Editar</button></a
            >
          </td>
          <td>
            <a [routerLink]="'/excluirCliente/' + clienteEncontrado?.id"
              ><button class="btns-e">Excluir</button></a
            >
          </td>
        </tr>
      </table>
    </div>
    <div>
      <a routerLink="/telaPrincipal/" target="_blank"
        ><button class="btns" style="margin-top: 10px">Início</button></a
      >
    </div>
    <div>
      <a routerLink="/telaPrincipalClientes/"
        ><button class="btns" style="margin-top: 10px">Tela Cliente</button></a
      >
    </div>
    <div>
      <a routerLink="/telaPrincipalFuncionario/"
        ><button class="btns" style="margin-top: 10px">
          Tela Funcionário
        </button></a
      >
    </div>
  </div>
</div>
