<div [formGroup]="formulario" class="div-curta">
  <div>
    <input
      class="input-busca"
      type="text"
      formControlName="id"
      placeholder="buscar distribuidor id..."
    />
    <button
      class="btns"
      (click)="buscarDistribuidorId()"
      style="margin-left: 10px"
    >
      Exibir Distribuidor Id
    </button>
  </div>

  <div [class]="classeAlerta.resultado"
  *ngIf="exibirMensagemNaoEncontrado && !distribuidorFoiEncontrado()">
    <p id="frase-nao-localizado">Distribuidor Não localizado</p>
    <button
      class="btn-ok-funcionario-nao-encontrado"
      (click)="encerrarAposNadaEncontrado()"
    >
      Ok
    </button>
  </div>
  <div *ngIf="distribuidorFoiEncontrado()" class="busca-com-sucesso">
    <table class="table table-bordered">
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Chave</th>
        <th>Cnpj</th>
        <th>Email</th>
        <th>Telefone</th>
      </tr>
      <tr>
        <td>{{ distribuidorEncontrado?.id }}</td>
        <td>{{ distribuidorEncontrado?.nome }}</td>
        <td>{{ distribuidorEncontrado?.chaveAcesso }}</td>
        <td>{{ distribuidorEncontrado?.cnpj }}</td>
        <td>{{ distribuidorEncontrado?.email }}</td>
        <td>{{ distribuidorEncontrado?.telefone }}</td>
      </tr>
      <tr>
        <th>UF</th>
        <th>Cep</th>
        <th>Cidade</th>
        <th>Bairro</th>
        <th>Rua</th>
        <th>Número</th>
        <th>Complemento</th>
        <th></th>
      </tr>
      <tr>
        <td>{{ distribuidorEncontrado?.enderecoModel?.uf }}</td>
        <td>{{ distribuidorEncontrado?.enderecoModel?.cep }}</td>
        <td>{{ distribuidorEncontrado?.enderecoModel?.cidade }}</td>
        <td>{{ distribuidorEncontrado?.enderecoModel?.bairro }}</td>
        <td>{{ distribuidorEncontrado?.enderecoModel?.rua }}</td>
        <td>{{ distribuidorEncontrado?.enderecoModel?.numero }}</td>
        <td>{{ distribuidorEncontrado?.enderecoModel?.complemento }}</td>
        <td></td>
      </tr>
      <tr>
        <td>
          <a [routerLink]="'/editarDistribuidor/' + distribuidorEncontrado?.id"
            ><button class="btns-e">Editar</button></a
          >
        </td>
        <td>
          <a [routerLink]="'/excluirDistribuidor/' + distribuidorEncontrado?.id"
            ><button class="btns-e">Excluir</button></a
          >
        </td>
      </tr>
    </table>
  </div>
  <div>
    <a routerLink="/telaPrincipal/" target="_blank"
      ><button class="btns" style="margin-top: 10px">Início</button>
    </a>
  </div>
  <div>
    <a routerLink="/telaPrincipalDistribuidores/"
      ><button class="btns" style="margin-top: 10px">
        Tela Distribuidor
      </button></a
    >
  </div>
  <div>
    <a routerLink="/telaPrincipalFuncionario/"
      ><button class="btns" style="margin-top: 10px">
        Tela Funcionário
      </button></a
    >
  </div>
</div>
