<div class="div-curta">
  <ng-container>
    <h2 class="bem-vindo">Bem vindo ao nosso painel de pedidos</h2>
    <div class="painel-funcionario">
      <div *ngIf="funcionarioAcessandoAqui()">
        <a href="cadastrarPedido/">
          <button class="btns">Cadastrar Pedido</button></a
        >
        <a href="buscarTodosPedidos/"
          ><button class="btns">Exibir Todos Pedidos</button></a
        >
        <a href="buscarPedido/">
          <button class="btns">Buscar Pedido Id</button></a
        >
        <a href="buscarPedidoNome/">
          <button class="btns">Buscar Pedido Nome</button></a
        >
        <a href="telaPrincipalClientes">
          <button class="btns">Página Clientes</button></a
        >
        <a href="telaPrincipalPedidos">
          <button class="btns">Página Pedidos</button></a
        >
        <a href="telaPrincipalDistribuidores">
          <button class="btns">Página Distribuidores</button></a
        >
        <a href="telaPrincipalBebidas">
          <button class="btns">Página Bebidas</button></a
        >
        <a href="telaPrincipalSabores">
          <button class="btns">Página Sabores</button></a
        >
        <a href="telaPrincipalAcrescentos">
          <button class="btns">Página Acrescentos</button></a
        >
        <a href="telaPrincipalMl"> <button class="btns">Página Ml</button></a>
        <a href="telaPrincipal">
          <button class="btns">Página Inícial</button></a
        >
      </div>
      <div *ngIf="clienteAcessandoAqui()">
        <app-tela-acesso-pedido></app-tela-acesso-pedido>
      </div>
    </div>
  </ng-container>
</div>
