<div class="div-curta">
  <ng-container>
    <h2 class="bem-vindo">Bem vindo ao nosso painel de Sabores</h2>
    <div class="painel-funcionario">
      <a href="cadastrarSabor/">
        <button class="btns">Cadastrar Sabor</button></a
      >
      <a href="buscarTodosSabores/"
        ><button class="btns">Exibir Todos Sabores</button></a
      >
      <a href="buscarSabor/">
        <button class="btns">Buscar Sabor Id</button></a
      >
      <a href="buscarSaborNome/">
        <button class="btns">Buscar Sabor Nome</button></a
      >
      <a href="telaPrincipalFuncionario">
        <button class="btns">Página Funcionário</button></a
      >
      <a href="telaPrincipal"> <button class="btns">Início</button></a>
    </div>
  </ng-container>
</div>
