<div class="div-principal">
  <div class="col-6 div-btn">
    <a routerLink="/telaPrincipal/" target="_blank"
      ><button class="btn-inicio">Início</button>
    </a>
  </div>
  <div class="col-6 div-btn">
    <a routerLink="/telaPrincipalDistribuidores/"
      ><button class="btn-tela">Tela Distribuidores</button>
    </a>
  </div>
  <div *ngFor="let distribuidor of distribuidores">
    <table class="table table-bordered">
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Chave</th>
        <th>Cnpj</th>
        <th>Email</th>
        <th>Telefone</th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td>{{ distribuidor.id }}</td>
        <td>{{ distribuidor.nome }}</td>
        <td>{{ distribuidor.chaveAcesso }}</td>
        <td>{{ distribuidor.cnpj }}</td>
        <td>{{ distribuidor.email }}</td>
        <td>{{ distribuidor.telefone }}</td>
      </tr>
      <tr>
        <th>UF</th>
        <th>Cep</th>
        <th>Cidade</th>
        <th>Bairro</th>
        <th>Rua</th>
        <th>Número</th>
        <th>Complemento</th>
        <th></th>
      </tr>
      <tr>
        <td>{{ distribuidor.enderecoModel.uf }}</td>
        <td>{{ distribuidor.enderecoModel.cep }}</td>
        <td>{{ distribuidor.enderecoModel.cidade }}</td>
        <td>{{ distribuidor.enderecoModel.bairro }}</td>
        <td>{{ distribuidor.enderecoModel.rua }}</td>
        <td>{{ distribuidor.enderecoModel.numero }}</td>
        <td>{{ distribuidor.enderecoModel.complemento }}</td>
        <td></td>
      </tr>
      <tr>
        <td>
          <a [routerLink]="'/editarDistribuidor/' + distribuidor.id"
            ><button class="btns-e">Editar</button></a
          >
        </td>
        <td>
          <a [routerLink]="'/excluirDistribuidor/' + distribuidor.id"
            ><button class="btns-e">Excluir</button></a
          >
        </td>
      </tr>
    </table>
    <div class="divisoria">
      <div id="h-divisoria">Dados do Distribuidor</div>
    </div>
  </div>
</div>
