<div class="div-curta">
  <ng-container>
    <h2 class="bem-vindo">Bem vindo ao nosso painel de Acrescentos</h2>
    <div class="painel-funcionario">
      <a href="cadastrarAcrescento/">
        <button class="btns">Cadastrar Acrescento</button></a
      >
      <a href="buscarTodosAcrescentos/"
        ><button class="btns">Exibir Todos Acrescentos</button></a
      >
      <a href="buscarAcrescentoNome/">
        <button class="btns">Buscar Acrescento Nome</button></a
      >
      <a href="buscarAcrescentoId/">
        <button class="btns">Buscar Acrescento Id</button></a
      >
      <a href="telaPrincipalFuncionario">
        <button class="btns">Página Funcionários</button></a
      >
      <a href="telaPrincipal"> <button class="btns">Início</button></a>
    </div>
  </ng-container>
</div>
