<div class="div-curta">
  <ng-container>
    <h2 class="bem-vindo">Bem vindo ao nosso painel de funcionários</h2>
    <div class="painel-funcionario">
      <a href="cadastrarFuncionario/">
        <button class="btns">Cadastrar Funcionário</button></a
      >
      <a href="buscarTodosFuncionarios/"
        ><button class="btns">Exibir Todos Funcionários</button></a
      >
      <a href="buscarFuncionario/">
        <button class="btns">Buscar Funcionário Id</button></a
      >
      <a href="buscarFuncionarioNome/">
        <button class="btns">Buscar Funcionário Nome</button></a
      >
      <a href="telaPrincipalClientes">
        <button class="btns">Página Clientes</button></a
      >
      <a href="telaPrincipalPedidos">
        <button class="btns">Página Pedidos</button></a
      >
      <a href="telaPrincipalDistribuidores">
        <button class="btns">Página Distribuidores</button></a
      >
      <a href="telaPrincipalBebidas">
        <button class="btns">Página Bebidas</button></a
      >
      <a href="telaPrincipalSabores">
        <button class="btns">Página Sabores</button></a
      >
      <a href="telaPrincipalAcrescentos">
        <button class="btns">Página Acrescentos</button></a
      >
      <a href="telaPrincipalMl"> <button class="btns">Página Ml</button></a>
      <a href="telaPrincipal"> <button class="btns">Página Inícial</button></a>
    </div>
  </ng-container>
</div>
