
.btn{
 background-color: #ddcb72;
}
.btn-ok{
  background-color: #dddd68;
  margin-left: 10px;
  width: 60px;
}
.div-btn-continuar{
  background-color: #ddcb72;
}
.btn-editar{
  background-color: #dddd68;
  cursor: pointer;
  width: 160px;
  display: block;
  position: absolute;
  margin-top: 26px;
  margin-left: -17px;
}
