<div class="div-curta">
  <ng-container>
    <h2 class="bem-vindo">Bem vindo ao nosso painel de Ml</h2>
    <div class="painel-funcionario">
      <a href="cadastrarMl/"> <button class="btns">Cadastrar Ml</button></a>
      <a href="buscarTodosMl/"><button class="btns">Exibir Todos Ml</button></a>
      <a href="buscarMlId/"> <button class="btns">Buscar Ml Id</button></a>
      <a href="buscarMl/"> <button class="btns">Buscar Ml Nome</button></a>
      <a href="telaPrincipalFuncionario">
        <button class="btns">Página Funcionário</button></a
      >
      <a href="telaPrincipal"> <button class="btns">Início</button></a>
    </div>
  </ng-container>
</div>
