<div class="div-curta">
  <ng-container>
    <h2 class="bem-vindo">Bem vindo ao nosso painel de Distribuidores</h2>
    <div class="painel-funcionario">
      <a href="cadastrarDistribuidor/">
        <button class="btns">Cadastrar Distribuidor</button></a
      >
      <a href="buscarTodosDistribuidores"
        ><button class="btns">Exibir Todos Distribuidores</button></a
      >
      <a href="buscarDistribuidor/">
        <button class="btns">Buscar Distribuidor Id</button></a
      >
      <a href="buscarDistribuidorNome/">
        <button class="btns">Buscar Distribuidor Nome</button></a
      >
      <a href="telaPrincipalFuncionario">
        <button class="btns">Página Funcionário</button></a
      >
    </div>
  </ng-container>
</div>
